<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPage('/core/kewpa9-list')">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">KEW.PA 9 A</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content>
    <div class="card-body">
      <ion-content class="content">
        <br>
        <br>
        <div class="item-start">
          <ion-badge color="primary" style="border-radius: 19px; padding: 4px;"> KEWPA 9 </ion-badge>
        </div>

        <div >
          <form [formGroup]="kewpa9Form">
            <ion-list class="ion-no-margin list-core" mode="ios">
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tujuan</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="tujuan"></ion-input>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tempat Digunakan</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="tempat_digunakan"></ion-input>
			        </ion-item>

              <div formArrayName="info_kewpa9">
                  <div *ngFor="let info_kewpa9 of getInfoArray.controls; let i=index" [formGroupName]="i">
                    <br>
                    <div class="item-start">
                      <ion-badge  color="primary">INFO KEWPA ({{i+1}})</ion-badge>
                    </div>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">No Siri Pendaftaran</ion-label>
			    	          <ion-input class="small-font" placeholder="" mode="ios" formControlName="no_siri_pendaftaran"></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Catatan</ion-label>
			    	          <ion-input class="small-font" placeholder="" mode="ios" formControlName="catatan"></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Status</ion-label>
			    	          <ion-input class="small-font" placeholder="" mode="ios" formControlName="status"></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Pinjam</ion-label>
                      <ion-datetime class="small-font" value="" display-timezone="utc" formControlName="tarikh_dipinjam"></ion-datetime>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Dijangka Pulang</ion-label>
                      <ion-datetime value="" display-timezone="utc" formControlName="tarikh_dijangka"></ion-datetime>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Dipulangkan</ion-label>
                      <ion-datetime value="" display-timezone="utc" formControlName="tarikh_dipulangkan"></ion-datetime>
			              </ion-item>


                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Diterima</ion-label>
                      <ion-datetime value="" display-timezone="utc" formControlName="tarikh_diterima"></ion-datetime>
			              </ion-item>


                    <!-- paste to kewpa8 form
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">No Siri Pendaftaran</ion-label>
			    	          <ion-input class="small-font" placeholder="" mode="ios" formControlName="no_siri_pendaftaran"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Kerosakan</ion-label>
                      <ion-datetime value="" display-timezone="utc" name="tarikh_kerosakan"></ion-datetime>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Perihal Kerosakan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="perihal_kerosakan"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Jumlah Kos Penyelenggaraan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="jumlah_kos_penyelenggaraan"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Anggaran Kos</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="anggaran_kos"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Syor Ulasan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="syor_ulasan"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Ulasan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="ulasan"></ion-input>
			              </ion-item>
                    -->
                    <div style="display: flex; justify-content: end; margin-right: 20px;">
                       <ion-icon *ngIf="i == (productLength-1)" style="margin-right: 20px;" (click)="tambahInfoKewpa9()" color="primary" slot="icon-only" name="add"></ion-icon>
                       <ion-icon style="margin-right: 20px;" (click)="deleteInfo(i)" color="primary" slot="icon-only" name="trash-outline"></ion-icon>
                     </div>


                  </div>
               </div>

               
               <br>
               <div padding>
                 <div *ngIf="updateMode === false" class="card" style="padding: 20px;">
                  <ion-button color="primary" size="medium" [disabled]="kewpa9Form.invalid" (click)="submitKewpa9()"
                    expand="block">
                    Simpan</ion-button>
                 </div>

                 <div *ngIf="updateMode === true" class="card" style="padding: 20px;">
                  <ion-button color="primary" size="medium" [disabled]="kewpa9Form.invalid" (click)="submitKewpa9Update()"
                    expand="block">
                    Simpan</ion-button>
                 </div>

               </div>
            </ion-list>
          </form>
        </div>
      </ion-content>
    </div>

  </ion-content>
</ion-content>
