<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPage('/core/kewpa8-list')">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">KEW.PS 8</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content">
  <div class="custom-figma-header ion-text-center">
    <div class="custom-figma-title">
      BORANG PERMOHONAN STOK <br />STOR<br />
      KEW.PS-8
    </div>
  </div>
  <br />

  <div>
    <form [formGroup]="kewpa8Form">
      <ion-list class="ion-no-margin list-core" mode="ios">
        <ion-item class="item-form" lines="none">
          <ion-label position="stacked" mode="ios">Kuantiti Dimohon</ion-label>
          <ion-input
            placeholder=""
            mode="ios"
            formControlName="kuantiti_dimohon"
          ></ion-input>
        </ion-item>
        <ion-item class="item-form" lines="none">
          <ion-label position="stacked" mode="ios">Catatan Pemohon</ion-label>
          <ion-input
            placeholder=""
            mode="ios"
            formControlName="catatan_pemohon"
          ></ion-input>
        </ion-item>

        <br />
        <div padding>
          <div *ngIf="updateMode === false" class="card" style="padding: 20px; width: 60%; margin-left: 20%;">
            <ion-button
              color="primary"
              size="medium"
              [disabled]="kewpa8Form.invalid"
              (click)="submitKewpa8()"
              expand="block"
            >
              Simpan</ion-button
            >
            
          </div>

          <div *ngIf="updateMode === true" class="card" style="padding: 20px; width: 60%; margin-left: 20%;" >
            <ion-button
              color="primary"
              size="medium"
              [disabled]="kewpa8Form.invalid"
              (click)="submitKewpa8Update()"
              expand="block"
            >
              Simpan</ion-button
            >
          </div>
        </div>
      </ion-list>
    </form>
  </div>
  <div
    (click)="navigateToPage('/core/kewpa8-list')"
    class="custom-figma-right"
  ></div>
  <ion-icon
    (click)="navigateToPage('/core/kewpa8-list')"
    class="custom-figma-fab-right"
    name="close-outline"
  ></ion-icon>
</ion-content>
