<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPage('/core/kewpa10a-list')">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">KEW.PA 10 A</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content>
    <div class="card-body">
      <ion-content class="content">
        <br>
        <br>
        <div class="item-start">
          <ion-badge color="primary" style="border-radius: 110apx; padding: 4px;"> KEWPA 10a </ion-badge>
        </div>

        <div >
          <form [formGroup]="kewpa10aForm">
            <ion-list class="ion-no-margin list-core" mode="ios">

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">No Siri Pendaftaran</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="no_siri_pendaftaran"></ion-input>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tarikh Kerosakan</ion-label>
                <ion-datetime class="small-font" value="" display-timezone="utc" formControlName="tarikh_kerosakan"></ion-datetime>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Perihal Kerosakan</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="perihal_kerosakan"></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Jumlah Kos Penyelenggaraan (RM)</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="jumlah_kos_penyelenggaraan"></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Anggaran Kos (RM)</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="anggaran_kos"></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Syor Ulasan</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="syor_ulasan"></ion-input>
			        </ion-item>


              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Ulasan</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="ulasan"></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Pengguna Terakhir</ion-label>
			    	    <ion-input placeholder="" mode="ios" formControlName="pengguna_terakhir"></ion-input>
			        </ion-item>



               
               <br>
               <div padding>
                 <div *ngIf="updateMode === false" class="card" style="padding: 20px;">
                  <ion-button color="primary" size="medium" [disabled]="kewpa10aForm.invalid" (click)="submitKewpa10a()"
                    expand="block">
                    Simpan</ion-button>
                 </div>

                 <div *ngIf="updateMode === true" class="card" style="padding: 20px;">
                  <ion-button color="primary" size="medium" [disabled]="kewpa10aForm.invalid" (click)="submitKewpa10aUpdate()"
                    expand="block">
                    Simpan</ion-button>
                 </div>


               </div>
            </ion-list>
          </form>
        </div>
      </ion-content>
    </div>

  </ion-content>
</ion-content>
