
      <ion-content class="content">
        <div class="custom-figma-header ion-text-center">
    <div class="custom-figma-title">
      BORANG ADUAN KEROSAKAN <br />ASET ALIH<br />
      KEW.PA-10 A
    </div>
  </div>

  <br />

        <div >
          <form>
            <ion-list class="ion-no-margin list-core" mode="ios">
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">No Siri Pendaftaran</ion-label>
                <ion-input placeholder="" value="{{kewpa10a.no_siri_pendaftaran}}" mode="ios" readonly></ion-input>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tarikh Kerosakan</ion-label>
                <ion-datetime class="small-font" value="{{kewpa10a.tarikh_kerosakan}}" display-timezone="utc" readonly></ion-datetime>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Perihal Kerosakan</ion-label>
			    	    <ion-input placeholder="" value="{{kewpa10a.perihal_kerosakan}}" mode="ios" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Jumlah Kos Penyelenggaraan (RM)</ion-label>
			    	    <ion-input placeholder="" value="{{kewpa10a.jumlah_kos_penyelenggaraan}}" mode="ios" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Anggaran Kos (RM)</ion-label>
			    	    <ion-input placeholder="" value="{{kewpa10a.anggaran_kos}}" mode="ios" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Syor Ulasan</ion-label>
			    	    <ion-input placeholder="" value="{{kewpa10a.syor_ulasan}}" mode="ios" readonly></ion-input>
			        </ion-item>


              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Ulasan</ion-label>
			    	    <ion-input placeholder="" value="{{kewpa10a.ulasan}}" mode="ios" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Pengguna Terakhir</ion-label>
			    	    <ion-input placeholder="" value="{{kewpa10a.pengguna_terakhir}}" mode="ios" readonly></ion-input>
			        </ion-item>
<div  padding> 
          <div style="padding: 20px; width: 60%; margin-left: 20%;">
            <ion-button
            
              color="primary"
              size="medium"
              (click)="editKewpa10a()"
              expand="block"
            >
              Kemaskini</ion-button
            >
          </div>
        </div>



                             
            </ion-list>
          </form>
        </div>
  <div
  (click)="dismissModal()"
  class="custom-figma-right"
></div>
<ion-icon (click)="dismissModal()" class="custom-figma-fab-right" name="close-outline"></ion-icon>


      </ion-content>
