      <ion-content class="content">
        <div class="custom-figma-header ion-text-center">
          <div class="custom-figma-title">
            BORANG PERMOHONAN PERGERAKAN/PINJAMAN <br />
            KEW.PA-9
          </div>
        </div>
      
        <br />

        <div >
          <form>
            <ion-list class="ion-no-margin list-core" mode="ios">
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tujuan</ion-label>
                <ion-input value="{{kewpa9.tujuan}}" mode="ios" readonly></ion-input>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tempat Digunakan</ion-label>
                <ion-input value="{{kewpa9.tempat_digunakan}}" mode="ios" readonly></ion-input>
			        </ion-item>

              <div>
                  <div *ngFor="let k9 of kewpa9.info_kewpa9; let i=index">
                    <br>
                    <div class="item-start">
                      <ion-badge  color="primary">INFO KEWPA 9 ({{i+1}})</ion-badge>
                    </div>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">No Siri Pendaftaran</ion-label>
                      <ion-input class="small-font" value="{{k9.no_siri_pendaftaran}}" mode="ios" readonly></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Catatan</ion-label>
                      <ion-input class="small-font" value="{{k9.no_siri_pendaftaran}}" mode="ios" readonly></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Status</ion-label>
                      <ion-input class="small-font" value="{{k9.status}}" mode="ios" readonly></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Pinjam</ion-label>
                      <ion-input class="small-font" value="{{k9.tarikh_dipinjam.slice(0,10)}}" mode="ios" readonly></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Dijangka Pulang</ion-label>
                      <ion-input class="small-font" value="{{k9.tarikh_dijangka.slice(0,10)}}" mode="ios" readonly></ion-input>
			              </ion-item>

                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Dipulangkan</ion-label>
                      <ion-input class="small-font" value="{{k9.tarikh_dipulangkan.slice(0,10)}}" mode="ios" readonly></ion-input>
			              </ion-item>


                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Diterima</ion-label>
                      <ion-input class="small-font" value="{{k9.tarikh_diterima.slice(0,10)}}" mode="ios" readonly></ion-input>
			              </ion-item>


                    <!-- paste to kewpa8 form
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">No Siri Pendaftaran</ion-label>
			    	          <ion-input class="small-font" placeholder="" mode="ios" formControlName="no_siri_pendaftaran"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Tarikh Kerosakan</ion-label>
                      <ion-datetime value="" display-timezone="utc" name="tarikh_kerosakan"></ion-datetime>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Perihal Kerosakan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="perihal_kerosakan"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Jumlah Kos Penyelenggaraan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="jumlah_kos_penyelenggaraan"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Anggaran Kos</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="anggaran_kos"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Syor Ulasan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="syor_ulasan"></ion-input>
			              </ion-item>
                    <ion-item class="item-form" lines="none">
			    	          <ion-label position="stacked" mode="ios">Ulasan</ion-label>
			    	          <ion-input placeholder="" mode="ios" formControlName="ulasan"></ion-input>
			              </ion-item>
                    -->

                  </div>
               </div>
<div  padding> 
          <div style="padding: 20px; width: 60%; margin-left: 20%;">
            <ion-button
            
              color="primary"
              size="medium"
              (click)="editKewpa9()"
              expand="block"
            >
              Kemaskini</ion-button
            >
          </div>
        </div>



               
            </ion-list>
          </form>
        </div>
<div
  (click)="dismissModal()"
  class="custom-figma-right"
></div>
<ion-icon (click)="dismissModal()" class="custom-figma-fab-right" name="close-outline"></ion-icon>


      </ion-content>
