<ion-content [fullscreen]="true">
  <div id="container" class="background">
<div class="custom-figma-header ion-text-center">
    <div class="custom-figma-title ion-text-center">
      <ion-icon style="font-size: 40px; color: white" name="person-circle-outline"></ion-icon>
      <h4 style="margin: 0px; !important">Nama User <br/>PENGUMUMAN</h4>
    </div>
  </div>
  <br />

    <div class="custom-figma-item"></div>
    <ion-list>

      <ion-card *ngFor="let pengumuman of pengumumans" color="white">
        <ion-card-content class="ion-text-center">
          <ion-text align="justify" color="light">
            <ion-icon size="large" name="megaphone-outline"></ion-icon>
            <h3 align="center" style="color: black;"><b>{{pengumuman.tajuk}}</b></h3>
            <h3 align="center" style="color: black;"><b>{{pengumuman.tarikh_pengumuman}}</b></h3>
            <br>
            <img
              src="{{pengumuman.gambar}}"
              style="display: block; width: 100%; height: 200px"
            />
            <br>
            <h4 style="color: black;"><b>{{pengumuman.info_pengumuman}}</b></h4>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <hr>
    </ion-list>
  </div>

</ion-content>
