<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPage('/core/dashboard')">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">KEW.PS 10b</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button> </ion-buttons> </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="custom-figma-header ion-text-center">
    <div class="custom-figma-title">
      BORANG ADUAN KEROSAKAN KENDERAAN<br />
      KEW.PA-10 B
    </div>
  </div>

  <br />
  <div id="container" class="background">
    <div class="custom-figma-item"></div>
    <ion-list *ngFor="let i of kewpa10b">
      <ion-item class="item-form">
        <ion-input
          (click)="viewKewpa10b(i)"
          placeholder=""
          mode="ios"
          value="No Rujukan {{i.id}}"
          readonly
        ></ion-input>
        <div class="custom-figma-button ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col size="6" (click)="editKewpa10b(i)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-col>
              <ion-col size="6" (click)="deleteKewpa10b(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>



  </div>
  <div class="custom-figma-bottom"></div>
  <div (click)="navigateToPage('/core/kewpa10b-create')" class="custom-figma-left">
  </div>
  <ion-icon (click)="navigateToPage('/core/kewpa10b-create')" class="custom-figma-fab-left" name="add-outline"></ion-icon>
  <div
    (click)="navigateToPage('/core/dashboard')"
    class="custom-figma-right"
  ></div>
  <ion-icon (click)="navigateToPage('/core/dashboard')" class="custom-figma-fab-right" name="close-outline"></ion-icon>


</ion-content>
