
      <ion-content class="content">
<div class="custom-figma-header ion-text-center">
    <div class="custom-figma-title">
      BORANG ADUAN KEROSAKAN KENDERAAN <br />
      KEW.PA-10 B
    </div>
  </div>

  <br />

        <div >
          <form>
            <ion-list class="ion-no-margin list-core" mode="ios">
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Nombor Wo</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.no_wo}}" readonly></ion-input>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">No. Plet</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.plet_no_jenis_kenderaan}}" readonly></ion-input>
			        </ion-item>
              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Pengguna Terakhir</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.pengguna_terakhir}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Tarikh Rosak</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.tarikh_rosak}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Bil</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.bil}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Perihal Rosak</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.perihal_rosak}}" readonly></ion-input>
			        </ion-item>


              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Kos Penyelenggaraan Dahulu(RM)</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.kos_penyelenggaraan_dulu}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Anggaran Kos Penyelenggaraan(RM)</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.anggaran_kos_penyelenggaraan}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Syor Ulasan</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.syor_ulasan}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Ulasan</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.ulasan}}"readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Pembaikan Dalaman Luar</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.pembaikan_dalaman_luar}}" readonly></ion-input>
			        </ion-item>

              <ion-item class="item-form" lines="none">
			    	    <ion-label position="stacked" mode="ios">Alat Ganti</ion-label>
                <ion-input placeholder="" mode="ios" value="{{kewpa10b.alatganti}}" readonly></ion-input>
			        </ion-item>

            </ion-list>
          </form>
        </div>

        <div  padding> 
          <div style="padding: 20px; width: 60%; margin-left: 20%;">
            <ion-button
            
              color="primary"
              size="medium"
              (click)="editKewpa10b()"
              expand="block"
            >
              Kemaskini</ion-button
            >
          </div>
        </div>

<div
  (click)="dismissModal()"
  class="custom-figma-right"
></div>
<ion-icon (click)="dismissModal()" class="custom-figma-fab-right" name="close-outline"></ion-icon>

      </ion-content>
