ion-item {
  border-radius: 18px;
  margin-bottom: .7rem;
}

ion-toolbar {
  --color: var(--ion-color-primary);
  position: absolute;
}

.card-body {
  height: 90%;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  position: absolute;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;

  img{
    border-radius: 18px;
  }
}

ion-button {
  --border-radius: 19px;
}

ion-content {
  .content {
    margin: 0;
    padding: 10px 30px 10px;
  }
}

.item-right {
  display: flex;
  justify-content: flex-end;
}

.item-center {
  display: flex;
  justify-content: center;
}

.item-start {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}


ion-input {
  font-size: 12px;

}
