<ion-content class="content">
  <div class="custom-figma-header ion-text-center">
    <div class="custom-figma-title">
      BORANG PERMOHONAN STOK <br />STOR<br />
      KEW.PS-8
    </div>
  </div>
  <br />
  <div>
    <form>
      <ion-list class="ion-no-margin list-core" mode="ios">
        <ion-item class="item-form" lines="none">
          <ion-label position="stacked" mode="ios">Kuantiti Dimohon</ion-label>
          <ion-input
            value="{{kewpa8.kuantiti_dimohon}}"
            mode="ios"
            readonly
          ></ion-input>
        </ion-item>
        <ion-item class="item-form" lines="none">
          <ion-label position="stacked" mode="ios">Catatan Pemohon</ion-label>
          <ion-input
            value="{{kewpa8.catatan_pemohon}}"
            mode="ios"
            readonly
          ></ion-input>
        </ion-item>
        <div  padding> 
          <div style="padding: 20px; width: 60%; margin-left: 20%;">
            <ion-button
            
              color="primary"
              size="medium"
              (click)="editKewpa8()"
              expand="block"
            >
              Kemaskini</ion-button
            >
          </div>
        </div>
      </ion-list>
    </form>
  </div>
  <div
  (click)="dismissModal()"
  class="custom-figma-right"
></div>
<ion-icon (click)="dismissModal()" class="custom-figma-fab-right" name="close-outline"></ion-icon>

</ion-content>
